<div>
  <table>
    <tr>
      <td colspan="3">
        <input #tb type="text">
      </td>
      <td>
        <button (click)="writeText(tb.value)">Write 전송</button>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="backfeeding()">백피딩</button>
      </td> <td>
        <button (click)="partialCut()">파셜컷</button>
      </td> <td>
        <button (click)="fullCut()">풀컷</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        현재 상태: 
      </td>
      <td>
        {{currentStat}}
      </td>
      <td>
        <button (click)="checkStatus()">상태 재확인</button>
      </td>
    </tr>
    <tr>
      <td >
        <button (click)="openPort()">포트 열기</button>
      </td>
      <td >
        <button (click)="closePort()">포트 닫기</button>
      </td>
      <td >
        <button (click)="unassignPort()">포트 삭제</button>
      </td>
      <td >
        <button (click)="assignPort(tb2.value)">포트 재할당</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        현재 포트: 
      </td>
      <td colspan="2">
        <input type="input" #tb2>
      </td>
    </tr>
  </table>
</div>